In [1]:
import kaggle 
!kaggle competitions download -c kagglex-cohort4

Downloading kagglex-cohort4.zip to c:\Users\karti\Documents\Data Science\KaggleXFellowShip-Used Car Price

  0%|          | 0.00/2.17M [00:00<?, ?B/s]
 46%|████▌     | 1.00M/2.17M [00:01<00:01, 689kB/s]
 92%|█████████▏| 2.00M/2.17M [00:01<00:00, 1.38MB/s]
100%|██████████| 2.17M/2.17M [00:01<00:00, 1.28MB/s]

In [2]:
import zipfile
zip = zipfile.ZipFile('kagglex-cohort4.zip')
zip.extractall()
zip.close()

# Import Lib

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [4]:
df = pd.read_csv('train.csv')

**Brand & Model:** Identify the brand or company name along with the specific model of each vehicle.  

**Model Year:** Discover the manufacturing year of the vehicles, crucial for assessing depreciation and technology advancements.  

**Mileage:** Obtain the mileage of each vehicle, a key indicator of wear and tear and potential maintenance requirements.  

**Fuel Type:** Learn about the type of fuel the vehicles run on, whether it's gasoline, diesel, electric, or hybrid.  

**Engine Type:** Understand the engine specifications, shedding light on performance and efficiency.  

**Transmission:** Determine the transmission type, whether automatic, manual, or another variant.  

**Exterior & Interior Colors:** Explore the aesthetic aspects of the vehicles, including exterior and interior color options.  

**Accident History:** Discover whether a vehicle has a prior history of accidents or damage, crucial for informed decision-making.  

**Clean Title:** Evaluate the availability of a clean title, which can impact the vehicle's resale value and legal status.  

**Price:** Access the listed prices for each vehicle, aiding in price comparison and budgeting.

In [8]:
test = pd.read_csv('test.csv')
test.sample(5)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
21935,76208,Kia,Forte GT-Line,2023,67499,Gasoline,147.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,CVT Transmission,White,Black,None reported,Yes
14173,68446,Mercedes-Benz,SL-Class SL63 AMG Roadster,2012,7982,Gasoline,518.0HP 6.3L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes
5636,59909,Lexus,SC 430 Base,2008,123500,Gasoline,300.0HP 4.3L 8 Cylinder Engine Gasoline Fuel,5-Speed A/T,Black,Brown,None reported,Yes
27970,82243,Audi,A8 L 55,2019,29000,Hybrid,335.0HP 3.0L V6 Cylinder Engine Gasoline/Mild ...,A/T,Black,Brown,None reported,Yes
3989,58262,Lincoln,Navigator Reserve,2019,30300,Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Brown,Black,None reported,Yes

In [5]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64
 1   brand         54273 non-null  object
 2   model         54273 non-null  object
 3   model_year    54273 non-null  int64
 4   milage        54273 non-null  int64
 5   fuel_type     53979 non-null  object
 6   engine        53938 non-null  object
 7   transmission  54266 non-null  object
 8   ext_col       54232 non-null  object
 9   int_col       53228 non-null  object
 10  accident      54273 non-null  object
 11  clean_title   54273 non-null  object
 12  price         54273 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.4+ MB

# Data Cleaning

In [7]:
df['clean_title'].unique()

array(['Yes'], dtype=object)

In [11]:
def count_dash(df):
    return (df == '–').sum()

dash_counts =count_dash(df)

cols_with_dash = dash_counts[dash_counts > 0].index
df[cols_with_dash] = df[cols_with_dash].replace('–', np.nan)

In [12]:
cols_with_dash

Index(['fuel_type', 'engine', 'transmission', 'ext_col', 'int_col'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3794 non-null   object
 5   engine        3964 non-null   object
 6   transmission  4005 non-null   object
 7   ext_col       3994 non-null   object
 8   int_col       3876 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [8]:
df.sample(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
3909,Buick,Cascada Base,2016,"103,814 mi.",Gasoline,200.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Black,At least 1 accident or damage reported,Yes,"$14,995"
916,Porsche,911 Carrera 4S,2018,"31,678 mi.",Gasoline,3.0 Liter,NaN,Silver,NaN,None reported,NaN,"$106,798"
1979,Mercedes-Benz,C-Class C 63 AMG,2012,"103,000 mi.",Gasoline,451.0HP 6.3L 8 Cylinder Engine Gasoline Fuel,7-Speed A/T,Silver,Black,At least 1 accident or damage reported,Yes,"$40,000"
329,Mercedes-Benz,AMG G 63 Base,2019,"19,593 mi.",Gasoline,4.0 Liter Twin Turbo,Automatic,Black,Black,None reported,NaN,"$159,998"
1008,Volvo,C40 Recharge Pure Electric Twin Ultimate,2023,"17,000 mi.",NaN,402.0HP Electric Motor Electric Fuel System,A/T,Gray,Blue,None reported,Yes,"$54,900"

## Mising Values

In [30]:
df.isnull().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [15]:
df['fuel_type'].unique()

array(['Gasoline', 'Hybrid', 'E85 Flex Fuel', 'Diesel', nan,
       'Plug-In Hybrid', 'not supported'], dtype=object)

In [17]:
df.groupby('fuel_type')['fuel_type'].count().sort_values(ascending=False)

fuel_type
Gasoline          49439
Hybrid             1766
E85 Flex Fuel      1479
Diesel             1109
Plug-In Hybrid      182
not supported         4
Name: fuel_type, dtype: int64

In [18]:
df['fuel_type'] = df['fuel_type'].fillna(df['fuel_type'].mode()[0])

In [20]:
df['brand'].nunique()

53

In [21]:
df.groupby('brand')['price'].mean().sort_values(ascending=False).head(10)

brand
Bugatti        1.950995e+06
Ferrari        1.584043e+05
Lamborghini    1.447739e+05
Rolls-Royce    1.313651e+05
Aston          1.178858e+05
McLaren        1.091748e+05
Bentley        1.052118e+05
Lucid          8.418500e+04
Rivian         7.949581e+04
Porsche        6.374215e+04
Name: price, dtype: float64

In [26]:
df['accident'].unique()

array([0, 1], dtype=int64)

In [23]:
df.groupby('accident')['accident'].count()

accident
At least 1 accident or damage reported    14377
None reported                             39896
Name: accident, dtype: int64

In [24]:
df['accident'] = df['accident'].fillna(df['accident'].mode()[0])

In [25]:
accident_map = {'At least 1 accident or damage reported': 1, 'None reported': 0}
df['accident'] =df['accident'].apply(lambda x : accident_map[x])

In [27]:
df.groupby('clean_title')['clean_title'].count()

clean_title
Yes    54273
Name: clean_title, dtype: int64

In [21]:
df['clean_title'] = df['clean_title'].fillna('No')

In [28]:
df['brand'].unique()

array(['Ford', 'BMW', 'Jaguar', 'Pontiac', 'Acura', 'Audi', 'GMC',
       'Maserati', 'Chevrolet', 'Porsche', 'Mercedes-Benz', 'Tesla',
       'Lexus', 'Kia', 'Lincoln', 'Dodge', 'Volkswagen', 'Land',
       'Cadillac', 'Mazda', 'RAM', 'Subaru', 'Hyundai', 'MINI', 'Jeep',
       'Honda', 'Hummer', 'Nissan', 'Toyota', 'Volvo', 'Genesis',
       'Mitsubishi', 'Buick', 'INFINITI', 'McLaren', 'Scion',
       'Lamborghini', 'Bentley', 'Suzuki', 'Ferrari', 'Alfa',
       'Rolls-Royce', 'Chrysler', 'Aston', 'Rivian', 'Lotus', 'Saturn',
       'Lucid', 'Mercury', 'Maybach', 'FIAT', 'Plymouth', 'Bugatti'],
      dtype=object)

In [29]:
df['transmission'].fillna(df['transmission'].mode()[0], inplace=True)
df['engine'].fillna(df['engine'].mode()[0], inplace=True)
df['ext_col'].fillna(df['ext_col'].mode()[0], inplace=True)
df['int_col'].fillna(df['int_col'].mode()[0], inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64
 1   brand         54273 non-null  object
 2   model         54273 non-null  object
 3   model_year    54273 non-null  int64
 4   milage        54273 non-null  int64
 5   fuel_type     54273 non-null  object
 6   engine        54273 non-null  object
 7   transmission  54273 non-null  object
 8   ext_col       54273 non-null  object
 9   int_col       54273 non-null  object
 10  accident      54273 non-null  int64
 11  clean_title   54273 non-null  object
 12  price         54273 non-null  int64
dtypes: int64(5), object(8)
memory usage: 5.4+ MB

# Feature Engineering

In [25]:
df.sample(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
1852,BMW,M3 Base,2011,"43,000 mi.",Gasoline,414.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,Black,Black,0,Yes,"$50,900"
3506,Toyota,RAV4 Base,2009,"78,500 mi.",Gasoline,179.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,4-Speed A/T,Silver,Black,0,Yes,"$12,000"
793,Alfa,Romeo Giulia Ti,2019,"21,400 mi.",Gasoline,280.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Black,0,Yes,"$28,500"
29,Audi,Q5 2.0T Premium Plus,2017,"81,880 mi.",E85 Flex Fuel,2.0L I4 16V GDI DOHC Turbo Flexible Fuel,8-Speed Automatic,Mythos Black Metallic,Black,0,Yes,"$21,375"
2283,Ford,Mustang GT Premium,2019,"31,600 mi.",Gasoline,460.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,Blue,Gray,0,Yes,"$41,000"

In [32]:
df['transmission_type'] = df['transmission'].apply(lambda x: 'Automatic' if 'a/t' in x.lower() or 'automatic' in x.lower() else 'Manual')

In [27]:
df['milage'] = df['milage'].str.replace(r'[^\d.]', '', regex=True).astype(float)
df['price'] = df['price'].str.replace(r'[^\d.]', '', regex=True).astype(float)

In [33]:
def extract_litre_eng(engine_desc):
    match = re.search(r'(\d+(\.\d+)?)\s*[Ll](?:iter)?', engine_desc)
    return float(match.group(1)) if match else None

df['engine_litre'] = df['engine'].apply(extract_litre_eng)
df['engine_litre'].fillna(df['engine_litre'].mode()[0], inplace=True)

In [34]:
def extract_hp(engine_desc):
    match  = re.search(r'(\d+(\.\d+)?)HP', engine_desc)
    return float(match.group(1)) if match else None

df_hp = pd.DataFrame()
df_hp['engine'] = df['engine']
df_hp['hp'] = df_hp['engine'].apply(extract_hp)
print('Hp Mean : ',df_hp['hp'].mean())
print('Hp Mode : ',df_hp['hp'].mode()[0])

Hp Mean :  331.4882593816146
Hp Mode :  300.0

In [35]:
df['hp'] = df['engine'].apply(extract_hp)
df['hp'].fillna(df['hp'].mode()[0], inplace=True)

In [36]:
def extract_cylinders(engine_desc):
    match = re.search(r'\b([VvIi]\d+)\b', engine_desc)
    if match:
        config = match.group(1)
        return int(config[1:])  

    match = re.search(r'(\d+(\.\d+)?)\s*L', engine_desc)
    if match:
        displacement = float(match.group(1))
        if displacement <= 2.5:
            return 4  
        elif displacement <= 3.8:
            return 6  
        else:
            return 8  
    return None


df['cylinders'] = df['engine'].apply(extract_cylinders)
df['cylinders'].fillna(df['cylinders'].mode()[0], inplace=True)

In [37]:
df['transmission'].unique()

array(['10-Speed A/T', '6-Speed M/T', '6-Speed A/T',
       'Transmission w/Dual Shift Mode', 'A/T', '5-Speed M/T',
       '7-Speed A/T', '5-Speed A/T', '8-Speed A/T',
       'Transmission Overdrive Switch', '9-Speed Automatic',
       '7-Speed M/T', '10-Speed Automatic', '6-Speed Automatic', 'M/T',
       '5-Speed Automatic', 'CVT Transmission', '9-Speed A/T',
       '8-Speed Automatic', '4-Speed A/T', 'Automatic', '1-Speed A/T',
       '8-Speed Automatic with Auto-Shift', '7-Speed DCT Automatic',
       'Automatic CVT', '7-Speed Automatic',
       '7-Speed Automatic with Auto-Shift', '4-Speed Automatic',
       '6-Speed Automatic with Auto-Shift', '6-Speed Manual',
       '7-Speed Manual',
       '6-Speed Electronically Controlled Automatic with O',
       '1-Speed Automatic', '10-Speed Automatic with Overdrive',
       '8-Speed Manual', '2-Speed A/T', 'CVT-F', 'F',
       '9-Speed Automatic with Auto-Shift', '7-Speed', 'Variable',
       'SCHEDULED FOR OR IN PRODUCTION', '6-Speed', '6 Speed At/Mt',
       '6 Speed Mt'], dtype=object)

In [38]:
def extract_speed(transmission_desc):
    match = re.search(r'(\d+)[- ]?(Speed|Spd)', transmission_desc, re.IGNORECASE)
    if match:
        return match.group(1)
    else:
        return None

extract_speed('6-Speed A/T')

'6'

In [39]:
df['transmission_speed'] = df['transmission'].apply(extract_speed)

In [40]:
df[df['transmission_speed'].isnull()]['transmission'].unique()

array(['Transmission w/Dual Shift Mode', 'A/T',
       'Transmission Overdrive Switch', 'M/T', 'CVT Transmission',
       'Automatic', 'Automatic CVT', 'CVT-F', 'F', 'Variable',
       'SCHEDULED FOR OR IN PRODUCTION'], dtype=object)

In [36]:
df.loc[df['transmission'] == '2', 'transmission_speed'] = '2'
df.loc[df['transmission'] == 'Single-Speed Fixed Gear', 'transmission_speed'] = '1'

In [41]:
df['transmission_speed'].fillna('5', inplace= True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  54273 non-null  int64
 1   brand               54273 non-null  object
 2   model               54273 non-null  object
 3   model_year          54273 non-null  int64
 4   milage              54273 non-null  int64
 5   fuel_type           54273 non-null  object
 6   engine              54273 non-null  object
 7   transmission        54273 non-null  object
 8   ext_col             54273 non-null  object
 9   int_col             54273 non-null  object
 10  accident            54273 non-null  int64
 11  clean_title         54273 non-null  object
 12  price               54273 non-null  int64
 13  transmission_type   54273 non-null  object
 14  engine_litre        54273 non-null  float64
 15  hp                  54273 non-null  float64
 16  cylinders           54273 non-null  float64
 17  transmission_speed  54273 non-null  object
dtypes: float64(3), int64(5), object(10)
memory usage: 7.5+ MB

In [43]:
df.sample(5)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,transmission_type,engine_litre,hp,cylinders,transmission_speed
45592,45592,Ford,Explorer XLT,2020,45000,Gasoline,300.0HP 2.3L 4 Cylinder Engine Gasoline Fuel,10-Speed A/T,Red,Black,0,Yes,29900,Automatic,2.3,300.0,4.0,10
8477,8477,Ford,Mustang GT Premium,2019,54002,Gasoline,460.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,10-Speed A/T,Red,Black,0,Yes,49700,Automatic,5.0,460.0,8.0,10
22567,22567,Hyundai,Tucson SE,2007,145000,Gasoline,173.0HP 2.7L V6 Cylinder Engine Gasoline Fuel,A/T,Gold,Beige,0,Yes,8500,Automatic,2.7,173.0,6.0,5
28971,28971,Nissan,Versa 1.8 S,2008,227010,Gasoline,122.0HP 1.8L 4 Cylinder Engine Gasoline Fuel,A/T,Blue,Gray,0,Yes,3850,Automatic,1.8,122.0,4.0,5
11570,11570,Honda,Civic EX,2014,107000,Gasoline,140.0HP 1.8L 4 Cylinder Engine Gasoline Fuel,CVT Transmission,Silver,Black,0,Yes,14000,Manual,1.8,140.0,4.0,5

In [44]:
cols_drop = ['id', 'engine','transmission', 'model' ]
df.drop(columns=cols_drop,axis=1, inplace=True)

In [53]:
clean_title_map = {'Yes': 1, 'No': 0}
df['clean_title'] = df['clean_title'].apply(lambda x : clean_title_map[x])

In [45]:
df.sample(5)

,brand,model_year,milage,fuel_type,ext_col,int_col,accident,clean_title,price,transmission_type,engine_litre,hp,cylinders,transmission_speed
37140,Mercedes-Benz,2021,14750,Gasoline,Gray,Black,0,Yes,45000,Automatic,2.0,382.0,4.0,5
22239,BMW,2012,98000,Gasoline,Gray,Black,0,Yes,15900,Automatic,3.0,300.0,6.0,8
43890,Nissan,2018,67686,Gasoline,Black,Beige,0,Yes,23999,Manual,2.5,175.0,4.0,5
32488,Mitsubishi,2016,122000,Gasoline,Silver,Black,0,Yes,17000,Automatic,2.4,182.0,4.0,5
5634,Saturn,2008,165000,Gasoline,Blue,Black,1,Yes,4000,Automatic,2.0,260.0,4.0,5

# Encoding

In [46]:
cols_encode = ['brand', 'fuel_type', 'transmission_type', 'ext_col', 'int_col', 'model_year']
cols_scale = ['milage' , 'hp', 'cylinders', 'transmission_speed', 'engine_litre', 'price']

In [47]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df[cols_encode] = df[cols_encode].apply(le.fit_transform)

In [48]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df[cols_scale] = sc.fit_transform(df[cols_scale])

In [54]:
df.sample(5)

,brand,model_year,milage,fuel_type,ext_col,int_col,accident,clean_title,price,transmission_type,engine_litre,hp,cylinders,transmission_speed
22036,47,24,0.583602,2,100,9,0,1,-0.195239,1,-1.283529,-0.588178,-1.505340,-0.092846
25506,4,24,-1.058990,2,212,9,0,1,0.347152,1,-0.532528,0.917541,-0.162959,-0.747857
49855,14,27,-0.678281,2,100,24,1,1,-0.147179,0,-0.157027,0.438013,-0.162959,1.217178
7482,0,17,0.975922,2,212,9,0,1,-0.332567,0,-0.157027,-0.415548,-0.162959,-0.747857
14270,3,28,-0.130698,2,249,9,0,1,0.400979,0,0.218474,2.643844,1.179422,1.217178

# Model Train

In [55]:
x = df.drop(columns=['price'])
y = df['price']

In [56]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [57]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train, y_train)

RandomForestRegressor(random_state=42)

In [58]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
y_pred = model.predict(x_test)
print('MAE:', mean_absolute_error(y_test, y_pred))
print('MSE:', mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(mean_squared_error(y_test, y_pred)))

MAE: 0.25812471441769796
MSE: 0.6095187047240258
RMSE: 0.780716789062478

In [59]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(x_train, y_train)

from sklearn.metrics import mean_absolute_error, mean_squared_error
y_pred = dtr.predict(x_test)
print('MAE:', mean_absolute_error(y_test, y_pred))
print('MSE:', mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(mean_squared_error(y_test, y_pred)))

MAE: 0.33669866061125825
MSE: 1.6462656258954613
RMSE: 1.2830688313163332

In [60]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn.fit(x_train, y_train)

from sklearn.metrics import mean_absolute_error, mean_squared_error
y_pred = knn.predict(x_test)
print('MAE:', mean_absolute_error(y_test, y_pred))
print('MSE:', mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(mean_squared_error(y_test, y_pred)))

MAE: 0.2583837708939644
MSE: 0.5587061840504985
RMSE: 0.7474665103203612

In [61]:
x_train.sample(5)

,brand,model_year,milage,fuel_type,ext_col,int_col,accident,clean_title,transmission_type,engine_litre,hp,cylinders,transmission_speed
30967,3,21,0.341870,2,249,6,1,1,0,-1.283529,-1.134841,-1.505340,-0.747857
10610,4,24,-0.173298,2,17,9,0,1,1,-0.532528,-0.281280,-0.162959,-0.747857
47734,11,29,-0.365099,2,166,9,1,1,0,1.870677,3.622083,1.179422,1.217178
53882,35,24,-0.198204,2,100,9,1,1,0,-1.283529,-0.847124,-1.505340,1.872190
255,0,19,0.857037,2,212,6,1,1,1,-0.983128,-1.230747,-1.505340,-0.747857